<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ToDoList</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <div class="todo-list">
              <h1>To-Do List </h1>
            <h2><%= kindOfDay %></h2>
          
        <ul id="list-container" >
            
            <!-- <li>prepare  food</li>
            <li>cut veg</li>
            <li>cook it </li> -->
            <% for (i = 0; i < newListItems.length; i++) { %>
            <li> <input type="checkbox"> &nbsp; <%= newListItems[i] %></li>
            <% } %>
        </ul>
        <div class="row">
            <form action="/" method="post" >
                    <input type="text" name="newItem" autocomplete="off" id=" " placeholder="Add Your Task Here ">
                    <!--to remove autpsuggestion we use autocomplete on off -->
                <button type="submit" class="btn">Add</button>
            </form>
        </div>
    
        
   
    </div>
</body>
</html>